@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);
body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  color: white;
}

.header {
  background-color: #018D9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header_img {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

.header_container {
  width: 350px;
}

.header_container_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  margin: 25px;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container_menu-list {
  list-style: none;
}

.header_container_menu_item {
  text-decoration: none;
  color: white;
  font-family: "Muli", sans-serif;
  letter-spacing: 2px;
}

.header_container_menu_item:hover {
  -webkit-text-decoration: underlines;
          text-decoration: underlines;
  font-weight: bold;
}

.main {
  min-height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#018D9F), to(#5EBD53));
  background: linear-gradient(#018D9F, #5EBD53);
  padding-top: 30px;
}

.main-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 2px solid white;
}

#main-refresh {
  margin: 40px 40px;
  height: 50px;
  font-size: 30px;
  color: white;
  background-color: rgba(225, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
}

.panel_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  border: white 2px solid;
  margin-bottom: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.panel_item-img {
  height: 200px;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 25px;
}

.panel_item-name {
  text-align: center;
  margin: 10px;
}

.container_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(225, 255, 255, 0.3);
  visibility: hidden;
  border: 2px solid white;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.car_button_close {
  background-color: rgba(225, 255, 255, 0);
  border: 0px;
}

.car_button_close:hover {
  cursor: pointer;
}

.card_img {
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.card_info-item {
  text-align: center;
  color: white;
  height: 20px;
  width: 200px;
}

.footer_container {
  background-color: #5EBD53;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_item {
  text-decoration: none;
  color: white;
}

.footer_item:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .header_img {
    width: 200px;
    height: 80px;
  }
  .header_container_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px;
    margin: 10px;
  }
  .header_container_menu_item {
    font-size: 15px;
  }
  .main_img {
    width: 200px;
    height: 300px;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  .panel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .panel_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 230px;
    margin: 10px 10px;
  }
  .panel_item-img {
    height: 150px;
    width: 150px;
  }
  .container_card {
    left: 30%;
    top: 20%;
  }
  .footer_container {
    height: 80px;
  }
  .footer_item {
    text-align: center;
    width: 33%;
    padding: 0px;
    margin: 0px;
  }
  .container_card {
    margin: 55% 20%;
  }
}
/*# sourceMappingURL=characters.css.map */