@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);
body {
  margin: 0px;
  font-family: "Muli", sans-serif;
}

.header {
  background-color: #018D9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header_img {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

.header_container {
  width: 350px;
}

.header_container_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  margin: 25px;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container_menu-list {
  list-style: none;
}

.header_container_menu_item {
  text-decoration: none;
  color: white;
  font-family: "Muli", sans-serif;
  letter-spacing: 2px;
}

.header_container_menu_item:hover {
  -webkit-text-decoration: underlines;
          text-decoration: underlines;
  font-weight: bold;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#018D9F), to(#5EBD53));
  background: linear-gradient(#018D9F, #5EBD53);
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_img {
  width: 300px;
  height: 400px;
}

.main_article {
  padding: 100px 200px;
  width: 500px;
  color: white;
  line-height: 30px;
}

.main_subtitle {
  font-weight: bold;
  text-align: center;
  color: #5EBD53;
}

.text-important {
  text-decoration: none;
  color: magenta;
  font-weight: bold;
  font-size: 18px;
}

.text-important:hover {
  text-decoration: underline;
}

.main_container_browser {
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browser_input {
  background-color: rgba(225, 255, 255, 0.1);
  height: 45px;
  width: 60%;
  padding: 0px 20px;
  border: 2px solid white;
  outline: none;
  color: white;
  border-radius: 50px;
}

.browser_input::-webkit-input-placeholder {
  color: white;
}

.browser_input:-ms-input-placeholder {
  color: white;
}

.browser_input::-ms-input-placeholder {
  color: white;
}

.browser_input::placeholder {
  color: white;
}

.browser_button {
  height: 50px;
  color: #018D9F;
  background-color: rgba(225, 255, 255, 0);
  border: 0px;
}

.browser_button:hover {
  cursor: pointer;
}

.container_card {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  background-color: rgba(225, 255, 255, 0.3);
  visibility: hidden;
  border: 2px solid white;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.car_button_close {
  background-color: rgba(225, 255, 255, 0);
  border: 0px;
}

.car_button_close:hover {
  cursor: pointer;
}

.card_img {
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.card_info-item {
  text-align: center;
  color: white;
  height: 20px;
  width: 200px;
}

.footer_container {
  background-color: #5EBD53;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_item {
  text-decoration: none;
  color: white;
}

.footer_item:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .header_img {
    width: 200px;
    height: 80px;
  }
  .header_container_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px;
    margin: 10px;
  }
  .header_container_menu_item {
    font-size: 15px;
  }
  .main {
    min-height: calc(100vh - 180px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_article {
    padding: 10px 50px;
  }
  .main_img {
    width: 200px;
    height: 300px;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  .footer_container {
    height: 80px;
  }
  .footer_item {
    text-align: center;
    width: 33%;
    padding: 0px;
    margin: 0px;
  }
}
/*# sourceMappingURL=index.css.map */